/* =======================COMMON STYLES======================= */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}


img {
    display: block;
}

.button{
    cursor: pointer;
}

.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

/* ======= LOGO ======= */
.logo {
    /*для логотипу*/
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* margin-right: 76px; */
}

.logo-part {
    /*перша чатина логотипу колір*/
    color: #2E2F42;
}
/* для логотипу в футері */
.down-logo { 
    color: #F4F4FD;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ****** STYLING ****** */

/* ===== header ===== */
.container{
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: none;
}

.contacts{
    display: none;
}

.burger-menu{
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #2F2F37;
    line-height: 0;
}

.header-container{
    display: flex;
}


/* ===== /header ===== */

@media screen and (min-width: 768px) { /* tablet */
    .container{
        max-width: 766px;
    }

    /* ===== header ===== */

    /* ===== /header ===== */
}

@media screen and (min-width: 1158px) {

    /* tablet */
    .container {
        max-width: 1158px;
    }

    /* ===== header ===== */
    
    /* ===== /header ===== */
}